h1 {
  font-size: 2.5rem;
  color: rgb(197, 58, 155);
  }
  h2 {
    font-size: 2rem;
    color: rgb(197, 58, 155);
  }
  h3
  {
    font-size: 1.5rem;
    color: rgb(197, 58, 155);

  }
  
  h4
  {
    
 font-size: 1.5rem;
 color: rgb(197, 58, 155);
 border-bottom: 1px solid grey;
    
 
}
.about
{
  width:100%;
      float:right;
      
   
}

    
   
  

  h5 {

 
  
    font-size: 1.2rem;
  }
h6{

  font-size: 1rem;
}

  .item {
   text-align: 200px;
   border-radius: 100%;
   height: 240px;
   width: 240px;
  }
  
  img {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
   
  }

  .picture{
 
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: all .3s;
    overflow: hidden;
    position: relative;
    
    max-block-size: unset;
  

  }

  .container:hover{
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(1);
    transition: background-size 0.3s ease; 
  }
 
 
  i{
    
     font-size: 38px;
     list-style-type:  none;
     color:rgb(197, 58, 155);
     
     
  }
  a
  {
    text-decoration: none;

  }
  
  
  nav {
    margin: 30px;
  }
  
  ul {
    border-right: none;
    list-style-type:  none;
  }
  
  li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid 
   #aaa;
    padding: 0 20px;
  }
  
  li:last-child {
    border-right: none;
  }
  
   
  li a:hover {
    color: rgb(218, 137, 33);
  }
     
  
  li a {
    text-decoration: none;
    color: rgb(197, 58, 155);
    font: 18px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
 


:root {
	font-size: 75.5%;
	font-family: Montserrat, sans-serif;
}


.container {

	margin: -0.5rem auto;
}

.gallery-item {
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	transition: all .3s;
	overflow: hidden;
	position: relative;
}


.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1.5rem;
	grid-auto-rows: minmax(150px, auto);
}
/*
.image { 
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	object-fit: cover;
}
*/
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}


element.style
{
  display: flex;
  flex-direction: column;
}
 
/*random-quote-generator */

* {
  font-family: "Rimouski";
  font-size: 1.5rem;
  
}


body {
  text-align: center;
      margin-top: 100px;
     
      height: 90vh;
      width: 100vw;
     /* background-image: url('https://source.unsplash.com/random');*/
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      z-index: -2;
      

  }
/*
i {
font-size: 4rem;
color: rgba(21, 159, 244, 0.94);
padding: 20px;
}*/

.card-header {
margin-top: 4px;
opacity: 0.75;
z-index: 1;

}

#quote {
  font-size: 1.3rem;
  color: rgba(19, 236, 236, 0.925);
}

.fa-redo-alt {
font-size: 1rem;
color: rgba(11, 12, 12, 0.79);
}

.b-nav {
  font-size: 2.0em;
  margin: 0;
  text-align: center;
  padding: 5px 0;
}

.quote-container {
 opacity: 0.7;
  width: 300px; 
  display: block;
  margin: 0 auto;
  /* border-radius: 0px; */
 padding-bottom : 15px;
 position: absolute;
 

}
.fa-redo-alt{
color: rgb(247, 9, 9);

}

.quote-icon {
  width: 300px;
  height: 128px;
} 

.quote-icon img {
display: block;
  margin: 0 auto;
} 

/* Contact form */
// Vars 
$rhythm: 25px;

// Form component 
.c-form {
    display: block;
    border: none;
    margin: #{ $rhythm * 2 } auto;
    max-width: 500px;
    color: rgb(247, 9, 9);
    
    &__heading {
        display: block;
        width: 100%;
        font-size: 2rem;
        line-height: 1.2;
        border-bottom: 1px solid #ccc;
        padding: 0 0 5px 0;
        margin: 0 0 10px 0;
    }
    
    &__row {
        & + & {
            padding-top: $rhythm;
        }
        
        // Make any field fill at least 2/3 
        [name] {
            min-width: percentage(2/3);
        }
    }
  





// Presentational styles
/*
body {
    background: #f3f3f3;
    font-family: sans-serif;
}
*/
/* "Changing colour button" taked from class activity */
button {
  font-size: 20px;
  margin: 1rem;
  border-radius: 20px;
}
/* review how to center with flex below */
.centre {
display: flex;
align-items: center;
justify-content:center;
}